{
    "cid": "CID65",
    "cid_key": "2de18eaaCmNW4fCgTiSo5npqXsKNWM9WXLfgsnQghO5QgCHBzcXCd0efQToS8gma",
    "dburl": "http://onepointtwentyone-horsebrokedown-1.c.influxdb.com:8086/",
    "dbrootp": "27ff25609da60f2d",
    "twilio_account_sid": "AC72bb42908df845e8a1996fee487215d8",
    "twilio_auth_token": "717534e8d9e704573e65df65f6f08d54",
    "twilio_phone_number": "+441183241580",
    "email": "peter.claydon@continuumbridge.com, martin.sotheran@continuumbridge.com",
    "mail":{
        "password": "Mucht00f@r",
        "user": "bridges@continuumbridge.com",
        "from": "Bridges <bridges@continuumbridge.com>"
    }
}
